* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: orbitron, sans-serif;
    background-image: url(../RESOURCES/trees.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(49, 48, 48);
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    color: white;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

section{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1em;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: orangered;
    font-size: 2em;
}

input {
    margin-top: 0.5em;
    padding: 0.8em 1em;
    border-radius: 1em;
    border: none;
    font-size: 1.1em;
    background-color: rgb(216, 211, 211);
    box-shadow: inset 0 0 10px 0 black;
    /* width: ; */
}

.checkPassword {
    color: red;
}

button{
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: 700;
    border-radius: 1em;
    background-color: rgb(1, 58, 1);
    /* box-shadow: inset 0 0 10px 0 midnightblue; */
    color: white;
    margin: 0.7em;
}
#createAccount{
    margin-top: 1.4em;
}
div{
    color: orangered;
}